<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <!-- <div class="col-sm-2"></div> -->
        <div class="col-sm-8 mt-5 pt-5">

            <div class="row mt-5">
                <div class="col-sm-6">
                    <label class="d-block text-end fs-1 fw-bold">Welcome To <span class="c-text">
                        Clothywave</span></label><br>
                    <label class="d-block text-end c-text-small">First try and then buy it</label>
                </div>
                <div class="col-sm-6 c-image"><img src="assets/intro.svg" alt="main page image"></div>
            </div>
        </div>
    </div>

</div>


<!-- <p class="ptag">Helo p tag</p> -->

<!-- <button class="btn btn-outline-primary" (click)="onLogin()">Login</button>
<button class="btn btn-outline-primary" (click)="onLogout()">Logout</button> -->


<!-- This is done using services start -->

<!-- This is done using services end -->