<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 mt-5 pt-5">
            <!-- <form class="row g-3 custom-form" (ngSubmit)="onSubmit(f.value)" #f="ngForm" id="formID" >
                <h1 class="text-center">Sign Up(Reactive Form)</h1>
                <div class="row m-0 mt-4">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6 c-form-control">
                        <input type="text" name="userid" id="userid" ngModel placeholder="Please Enter User Id" class="form-control shadow p-3 mb-5 bg-white rounded">
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row m-0 mt-4">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6 c-form-control">
                        <input type="password" name="password" id="password" ngModel placeholder="Please Enter Password" class="form-control shadow p-3 mb-5 bg-white rounded">
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row m-0 mt-4">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6 c-form-control">
                        <input type="email" name="email" id="email" ngModel placeholder="Please Enter Email" class="form-control shadow p-3 mb-5 bg-white rounded">
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                
                <div class="d-flex justify-content-center mb-3">
                    <button type="submit" class="btn btn-outline-primary" (click)="loadLogin()" form="formID">Sign Up</button>
                </div>

            </form> -->
        <form [formGroup]="myForm" (ngSubmit)="loadLogin()" class="custom-form p-5">
                <h1>Sign up <span class="fs-5">(Reactive form with validations)</span></h1>
                <div class="form-group" [ngClass]="{
                    'has-danger': fControl['userId'].invalid && myForm.controls['userId'].dirty,
                    'has-success': fControl['userId'].valid && myForm.controls['userId'].dirty
                  }">
                    <label for="userid">UserId</label>
                    <input type="text" formControlName="userId" class="form-control">
                    <div *ngIf="fControl['userId'].touched && fControl['userId'].errors?.['required']"
                        class="custom-error">User Id is required</div>
                    <!-- <div *ngIf="myForm.get('userId')?.errors?.['required']">Userid Required</div> -->
                    <!-- This is another method-->
                    <!-- <div *ngIf="myForm.controls['userId'].errors?.['required']"
                        class="custom-error">User Id is required</div> -->
                    <!-- another one method-->
                </div>

                <div class="form-group" [ngClass]="{
                    'has-danger': fControl['firstName'].invalid && myForm.controls['firstName'].dirty,
                    'has-success': fControl['firstName'].valid && myForm.controls['firstName'].dirty
                  }">
                    <label for="firstName">First name</label>
                    <input type="text" formControlName="firstName" class="form-control">
                    <div *ngIf="fControl['firstName'].touched && fControl['firstName'].errors?.['required']"
                        class="custom-error">First name is required</div>
                </div>

                <div class="form-group" [ngClass]="{
                    'has-danger': fControl['lastName'].invalid && myForm.controls['lastName'].dirty,
                    'has-success': fControl['lastName'].valid && myForm.controls['lastName'].dirty
                  }">
                    <label for="lastName">Last name</label>
                    <input type="text" formControlName="lastName" class="form-control">
                    <div *ngIf="fControl['lastName'].touched && fControl['lastName'].errors?.['required']"
                        class="custom-error">Last name is required</div>
                </div>

                    <div class="form-group" [ngClass]="{
                              'has-danger': fControl['password'].invalid && myForm.controls['password'].dirty,
                              'has-success': fControl['password'].valid && myForm.controls['password'].dirty
                            }">
                        <label for="password">
                            <label for="password">Password</label>
                            <input type="password" formControlName="password" class="form-control">
                            <div *ngIf="fControl['password'].touched && fControl['password'].errors?.['required']"
                                class="custom-error">Password is required</div>
                            <div *ngIf="fControl['password'].touched && fControl['password'].errors?.['minlength']"
                                class="custom-error">Password must be 8 characters long ,We need another
                                {{fControl['password'].errors?.['minlength'].requiredLength -
                                fControl['password'].errors?.['minlength'].actualLength}} characters</div>
                        </label>
                    </div>
                    <div class="form-group" [ngClass]="{
                    'has-danger': fControl['email'].invalid && myForm.controls['email'].dirty,
                    'has-success': fControl['email'].valid && myForm.controls['email'].dirty
                  }">
                        <label for="email">Email</label>
                        <input type="email" formControlName="email" class="form-control">
                        <div *ngIf="fControl['email'].touched && fControl['email'].errors?.['required']"
                            class="custom-error">Email is required</div>
                        <div *ngIf="fControl['email'].touched && fControl['email'].errors?.['email']"
                            class="custom-error">
                            Enter valid email</div>
                    </div>
                    <p *ngIf="errorMessage" class="custom-form-error">Form is not properly filled</p>


                    <div class="form-group mt-3">
                        <button class="btn btn-outline-danger" (click)="loadLogin()" type="submit">Sign up</button>
                    </div>
            </form>
        </div>
        <div class="col-sm-3"></div>
        <pre>{{myForm.value | json}}</pre>
    </div>
</div>

<span id="showError"></span>
<!-- <p class="ptag">Helo p tag</p> -->

<!-- <button class="btn btn-outline-primary" (click)="onLogin()">Login</button>
<button class="btn btn-outline-primary" (click)="onLogout()">Logout</button> -->


<!-- This is done using services start -->

<!-- This is done using services end -->